# Corpora

In [1]:
!pip install fuzzywuzzy pandas -q

In [2]:
import lltk,os,pandas as pd

In [3]:
sc = lltk.load('SemanticCohort')
sc.metadata[['title','year','author']]

,title,year,author
0,Anna or memoirs of a Welch heiress Intersperse...,1785,"Bennett, Agnes Maria"
1,Maria a novel In two volumes By the author of ...,1785,"Blower, Elizabeth"
2,The coalition or family anecdotes A novel By M...,1785,"Boys, S. Mrs"
3,The vicar of Wakefield a tale Supposed to be w...,1785,Goldsmith Oliver
4,Constance a novel The first literary attempt o...,1785,Mathews Charles Mrs
...,...,...,...
2953,Jack Westropp an autobiography,1895,Unknown
2954,The desire of the moth,1895,"Vane, Capel"
2955,The Story of Bessie Costrell By Mrs Humphry Wa...,1895,"Ward, Humphry, Mrs."
2956,The Time Machine An Invention By H G Wells,1895,"Wells, H. G. (Herbert George)"
2957,The holy estate a study in morals,1895,Wilkins W H William Henry 1860 1905

In [4]:
ia = lltk.load('InternetArchive')
# ia.metadata[['title','year','author']]
# ia.path_metadata

In [5]:
ch=lltk.load('Chadwyck')
# ch.metadata[['year','author','title']]

In [6]:
ll=lltk.load('LitLab')
# ll.metadata[['year','author','title']]

## De-duplicating

In [7]:
# sc.match_records(sc,year_window=None)

In [8]:
fn_dedup = os.path.join(sc.path_data,f'matches.{sc.name}--{sc.name}.csv')
if not os.path.exists(fn_dedup):
    mdf_dedup = pd.read_csv(fn_dedup).sort_values('match_ratio',ascending=False).fillna('')
    mdf_dedup = mdf_dedup[mdf_dedup.id<mdf_dedup.id2].drop_duplicates(['id'],keep='first')
    mdf_dedup.to_csv(fn_dedup,index=False)
else:
    mdf_dedup=pd.read_csv(fn_dedup)
mdf_dedup

,id,id2,author,author2,title,title2,match_ratio,match_ratio_author,match_ismatch
0,SC0001,SC0010,"Bennett, Agnes Maria","Bennett, Agnes Maria",Anna or memoirs of a Welch heiress Intersperse...,Anna or memoirs of a Welch heiress intersperse...,100,100,NaN
1,SC0001,SC0176,"Bennett, Agnes Maria",Pye Henry James,Anna or memoirs of a Welch heiress Intersperse...,The democrat interspersed with anecdotes of we...,71,33,NaN
2,SC0001,SC0468,"Bennett, Agnes Maria",Opie Amelia Alderson 1769 1853,Anna or memoirs of a Welch heiress Intersperse...,New tales in four volumes,72,37,NaN
3,SC0001,SC0512,"Bennett, Agnes Maria",Moore Alicia Radford,Anna or memoirs of a Welch heiress Intersperse...,The sisters a novel in four volumes,71,32,NaN
4,SC0001,SC1760,"Bennett, Agnes Maria",Gifford George Mrs,Anna or memoirs of a Welch heiress Intersperse...,Trials of an heiress,70,33,NaN
...,...,...,...,...,...,...,...,...,...
28889,SC2913,SC2916,Meredith George 1828 1909,Murray David Christie 1847 1907,Lord Ormont and his Aminta a novel,A rising star a novel,71,41,NaN
28890,SC2913,SC2919,Meredith George 1828 1909,Norris W E William Edward 1847 1925,Lord Ormont and his Aminta a novel,Saint Ann s a novel,74,35,NaN
28891,SC2925,SC2955,"Scott, Walter, Sir","Vane, Capel",Anne of Geierstein or the maiden of the mist b...,The desire of the moth,73,30,NaN
28892,SC2933,SC2953,Thomas Annie 1838 1918,Strain E H Euphans H,No hero but a man a novel,A man s foes,75,43,NaN
28893,SC2943,SC2953,Dunham Emily J,Strain E H Euphans H,A woman s love lesson,A man s foes,75,29,NaN

### Manual intervention

In [9]:
fn_dedup_anno=fn_dedup.replace('.csv','.anno.csv')
if not os.path.exists(fn_dedup_anno): 
    mdf_dedup.to_csv(fn_dedup_anno,index=False)

In [10]:
# re-load
mdf_dedup = pd.read_csv(fn_dedup_anno).fillna('')
mdf_dedup

,id,id2,author,author2,title,title2,match_ratio,match_ratio_author,match_ismatch
0,SC0001,SC0010,"Bennett, Agnes Maria","Bennett, Agnes Maria",Anna or memoirs of a Welch heiress Intersperse...,Anna or memoirs of a Welch heiress intersperse...,100,100,y
1,SC1281,SC1596,"Strickland, Agnes","Oliphant, Mrs Margaret",The pilgrims of Walsingham or Tales of the mid...,Agnes,100,38,n
2,SC0042,SC0075,Goldsmith Oliver,Goldsmith Oliver,The vicar of Wakefield a tale Supposed to be w...,The vicar of Wakefield a tale Supposed to be w...,100,100,y
3,SC0019,SC0097,Lee Sophia 1750 1824,Lee Sophia,The recess or A tale of other times,The recess or a tale of other times By the aut...,100,100,y
4,SC0477,SC2276,Unknown,Randolph Mrs,Dunsany An Irish story,Iris,100,29,n
...,...,...,...,...,...,...,...,...,...
2306,SC1506,SC2515,"Davies, Christiana Jane",Curtois Margaret Anne,The Browns and the Smiths : In two volumes,Tracked A story in two volumes,70,48,
2307,SC0575,SC1528,Scott Walter Sir 1771 1832,Stephenson Eliza Tabor,St Ronan s well,St Olave s,70,33,
2308,SC1789,SC2535,Caldbeck Mary Costello,Panton Jane Ellen,Sefton Hall A tale In two volumes By the late ...,A tangled chain in two volumes,70,36,
2309,SC1690,SC2109,Ouida 1839 1908,"Vereker, Charles Smyth",Under two flags a story of the household and t...,The child of the desert,70,29,
2310,SC1693,SC2495,"Robinson, Frederick William","Baring, Gould Sabine","Anne Judge, Spinster",Red spider,70,37,

## Matching

### With LitLab

In [ ]:
match_fn = os.path.join(sc.path_data,'matches.SemanticCohort--LitLab.csv')
if 1: #not os.path.exists(match_fn):
    sc.match_records(ll,year_window=None)
    mdf=pd.read_csv(match_fn).sort_values('match_ratio',ascending=False).fillna('').drop_duplicates(['id'],keep='first')
    mdf.to_csv(match_fn,index=False)
else:
    mdf=pd.read_csv(match_fn)
mdf

  0%|          | 0/2958 [00:00<?, ?it/s]

Matching from SemanticCohort (2958 texts)
to LitLab (5411 texts)

 87%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹ | 2585/2958 [15:03<01:43,  3.59it/s]

### Manual intervention

In [12]:
match_fn_anno=match_fn.replace('.csv','.anno.csv')
if not os.path.exists(match_fn_anno):
    mdf.to_csv(match_fn_anno,index=False)

In [13]:
mdf=pd.read_csv(match_fn_anno).query('match_ismatch == "y"')
mdf

,id,id2,author,author2,title,title2,match_ratio,match_ratio_author,match_ismatch
0,SC0002,LL0104,"Blower, Elizabeth","Blower, Elizabeth",Maria a novel In two volumes By the author of ...,Maria: a novel. In two volumes. By the author ...,100,100,y
1,SC1605,LL4761,Strauss G L M Gustave Louis Maurice 1807 1887,Strauss Gustave Louis Maurice,The old ledger,The old ledger,100,79,y
2,SC1593,LL3549,Marryat Florence 1837 1899,"Marryat, Florence",Woman against woman,Woman against woman ..,100,100,y
3,SC1594,LL3801,"Mayhew, Augustus","Mayhew, Augustus",Faces for fortunes,Faces for fortunes,100,100,y
4,SC1596,LL4029,"Oliphant, Mrs Margaret","Oliphant, Mrs. Margaret",Agnes,Agnes,100,100,y
...,...,...,...,...,...,...,...,...,...
2806,SC2471,LL3695,MacDonald George 1824 1905,"MacDonald, George",What s mine s mine,What's mine's mine,88,100,y
2807,SC1910,LL4009,"Nugent, Norman","Nugent, Norman",Amusements of a Man of Fashion : a Novel,The amusements of a man of fashion,88,100,y
2808,SC2896,LL4064,Ferrier Susan 1782 1854,"Oliphant, Mrs. Margaret",The inheritance,The prodigals and their inheritance,87,27,y
2809,SC0116,LL2872,"Godwin, William","Godwin, William",Things as they are or the adventures of Caleb ...,"Things As They Are; or, The Adventure of Caleb...",82,100,y
2810,SC0592,LL3799,Maxwell W H William Hamilton 1792 1850,Maxwell William Hamilton (W.H.),O Hara,O'Hara;,80,85,y

## Missing?

In [14]:
missing = set(sc.metadata.id) - set(mdf.id)

In [15]:
sc.metadata[sc.metadata.id.isin(missing) & ~sc.metadata.id.isin(mdf_dedup.id)]

,id,year,author,title,freq_absval,freq_hardseed,z_absval,z_hardseed,q_absval,q_hardseed,corpus,_lltk_,genre
7,SC0008,1786,"Beckford, William",An Arabian tale from an unpublished manuscript...,0.48%,3.33%,-0.77,-0.93,Q1,Q1,SemanticCohort,semantic_cohort|SC0008,
140,SC0141,1795,Parsons Mrs Eliza,The voluntary exile in five volumes by Mrs Par...,1.05%,3.00%,1.58,-1.18,Q4,Q1,SemanticCohort,semantic_cohort|SC0141,
338,SC0339,1810,Defoe Daniel 1661 1731,Life of Colonel Jack,0.42%,5.03%,-1.00,0.40,Q1,Q3,SemanticCohort,semantic_cohort|SC0339,
929,SC0930,1840,Warren Samuel 1807 1877,Ten thousand a year,0.66%,4.74%,-0.02,0.17,Q3,Q3,SemanticCohort,semantic_cohort|SC0930,
1218,SC1219,1852,Grey Mrs Elizabeth Caroline 1798 1869,Gentleman Jack or Life on the road,0.31%,5.38%,-1.47,0.67,Q1,Q4,SemanticCohort,semantic_cohort|SC1219,
1493,SC1494,1862,"Wood, Mrs. Henry",East Lynne,0.56%,6.04%,-0.43,1.18,Q2,Q4,SemanticCohort,semantic_cohort|SC1494,
1806,SC1807,1870,Oliphant Mrs Margaret 1828 1897,Salem chapel,0.71%,6.18%,0.17,1.29,Q3,Q4,SemanticCohort,semantic_cohort|SC1807,
1960,SC1961,1875,"Ainsworth, William",The goldsmith s wife,0.42%,3.57%,-1.03,-0.74,Q1,Q2,SemanticCohort,semantic_cohort|SC1961,
2248,SC2249,1882,Chums,Chums: A Tale Of The Queen's Navy,0.45%,5.58%,-0.89,0.82,Q1,Q4,SemanticCohort,semantic_cohort|SC2249,
2261,SC2262,1882,John Hill,Wild Rose,0.53%,5.13%,-0.57,0.47,Q2,Q3,SemanticCohort,semantic_cohort|SC2262,
2344,SC2345,1884,"Bray, Anna Eliza",Henry de Pomeroy or The eve of St John by Mrs ...,0.74%,3.94%,0.30,-0.45,Q3,Q2,SemanticCohort,semantic_cohort|SC2345,
2815,SC2816,1893,"Blackmore, Richard Doddridge",Lorna Doone a romance of Exmoor,0.46%,6.20%,-0.86,1.31,Q1,Q4,SemanticCohort,semantic_cohort|SC2816,
2817,SC2818,1893,"Burney, Fanny",Evelina or The history of a young lady s entra...,0.92%,3.17%,1.06,-1.05,Q4,Q1,SemanticCohort,semantic_cohort|SC2818,
2829,SC2830,1893,Eliot George 1819 1880,Romola,0.59%,5.33%,-0.31,0.63,Q2,Q3,SemanticCohort,semantic_cohort|SC2830,

In [16]:
ll.metadata[ll.metadata.title.str.contains('Evelina')]

,Source,_llp_,_path,_path_author,author_dob,author_dod,author_first_name,author_gender,author_id,author_last_name,...,sheetname,source,title,title_full,truth_claim,vol_numbers,year,year_imprint,year_imprint:1791,_lltk_
143,,litlab|LL0144,"/18C_Fiction/Burney,_Fanny__done/Evelina,_or,_...","/18C_Fiction/Burney,_Fanny__done",1752.0,1840.0,,F,,,...,corpus-metadata.LitLab.txt,,"Evelina, or, a young lady's entrance into the ...",,0.0,,1779,,,litlab|LL0144
144,,litlab|LL0145,"/18C_Fiction/Burney,_Fanny__done/Harcourt;_a_s...","/18C_Fiction/Burney,_Fanny__done",1752.0,1840.0,,F,,,...,corpus-metadata.LitLab.txt,,Harcourt; a sentimental novel. In a series of ...,,0.0,,1780,,,litlab|LL0145
2095,,litlab|LL2100,"/19C_Fiction/Burney, Fanny/Camilla or A Pictur...","/19C_Fiction/Burney, Fanny",1752.0,1840.0,,F,1081.0,,...,corpus-metadata.LitLab.txt,"Green, Katherine Sobba. Ã¢â‚¬Å“Chronology of Court...","Camilla: or, A Picture of Youth. By The Author...",,,,1796,,,litlab|LL2100
2096,,litlab|LL2101,"/19C_Fiction/Burney, Fanny/Cecilia or Memoirs ...","/19C_Fiction/Burney, Fanny",1752.0,1840.0,,F,1081.0,,...,corpus-metadata.LitLab.txt,"Green, Katherine Sobba. Ã¯Â¿Â½Chronology of Court...","Cecilia, or Memoirs of an Heiress. By the Auth...",,,,1782,,,litlab|LL2101
2097,,litlab|LL2102,"/19C_Fiction/Burney, Fanny/Evelina or the hist...","/19C_Fiction/Burney, Fanny",1752.0,1840.0,,F,1081.0,,...,corpus-metadata.LitLab.txt,"Green, Katherine Sobba. Ã¯Â¿Â½Chronology of Court...","Evelina; or, a young lady's entrance into the ...",,,,1778,,,litlab|LL2102
2098,,litlab|LL2103,"/19C_Fiction/Burney, Fanny/The Wanderer or Fem...","/19C_Fiction/Burney, Fanny",1752.0,1840.0,,F,1081.0,,...,corpus-metadata.LitLab.txt,,"The Wanderer; or, Female Difficulties. By the ...",,,,1814,,,litlab|LL2103